doc/myconf.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="MY_CONF" type="MY_CONF"/>


	<xsd:complexType name="MY_CONF">
		<xsd:sequence>
			<xsd:element name="p_gain" type="xsd:double"/>
			<xsd:element name="i_gain" type="xsd:double"/>
			<xsd:element name="d_gain" type="xsd:double"/>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>